@page "/contact"
@using HotelTerDuin.Data
@inject DatabaseConnection GetConnection
@inject DatabaseContact PushContact
@using System.Net.Mail


<h3>Contact Information</h3>

<p>
    Hotel TerDuin<br>
    Address: 123 Main Street, City, Country<br>
    Telephone: +1 234 567 890<br>
    Email: info@hotelterduin.com<br>
</p>

<p>
    Postal Address:<br>
    P.O. Box 4567, City, Country<br>
</p>

<h3>Contact Form</h3>

@if (isSubmitted)
{
    <p>Thank you for contacting us!</p>
}
else
{
    <form>
        <div class="form-group">
            <label for="voornaam">Voornaam:</label>
            <input type="text" class="form-control" id="voornaam" @bind="@naam">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" @bind="@email">
        </div>
        <div class="form-group">
            <label for="vraag">Vraag:</label>
            <textarea class="form-control" id="vraag" rows="3" @bind="@vraag"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" @onclick="SubmitForm">Submit</button>
    </form>
}



@code {
    private string naam;
    private string email;
    private string vraag;
    private bool isSubmitted;

    private void SubmitForm()
    {
        // Create an instance of DatabaseContact and call PushContact
        var databaseContact = new DatabaseContact();
        databaseContact.PushContact(naam, email, vraag);

         

            // Mark the form as submitted
            isSubmitted = true;
        }
}
