@page "/register"
@using HotelTerDuin.Data
@inject LoginService login

Username <input type="text" @bind="@User"/><br/>
Password <input type="text" @bind="@Password"/><br/>
<button @onclick="RegisterFunc">Register</button> @ResultOfRegister

@code {

    private string? User { get; set; }

    private string? Password { get; set; }

    private string? ResultOfRegister { get; set; }

    void RegisterFunc()
    {
        if (User != null && Password != null)
        {
            login.Register(User, Password);
            ResultOfRegister = "registered";
        }
    }
}
